html {
    /*height: 100vh*/
}

body {
    height: 100vh;
    margin: 0;
}

header {
    background: white;
    display: flex;
    align-items: center;
    position: fixed;
    width: 100vw;
    height: 130px;
    box-shadow: 0 1px 10px;
}

img {
    margin: 0 20px 0 15px;
    height: 105px;
    box-sizing: border-box;
}

h1 {
    margin: 0;
    font-size: 80px;
    font-family: 'Londrina Sketch', cursive;
    line-height: 100%;
    color: #934561;

    /*color: #226C70;*/
        /*color: #6E8691;*/
        /*color: #73458c;*/
}

h2 {
    align-self: flex-end;
    margin: 0 0 4px -100px;
    font-family: 'Londrina Solid', cursive;
    /*font-weight: 300;*/
    /*font-family: 'Roboto', sans-serif;*/
    font-size: 25px;
    /*font-style: italic;*/
    /*color: #885887;*/
    /*color: #934561;*/


}

#page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    margin-top: 130px;
    background: cadetblue;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: stretch;
    padding: 10vh 10vw;
}

#controller {
    background: white;
    min-width: 500px;
    min-height: 50vh;
    /*width: 50%;*/
    /*height: 200px;*/
    box-shadow: 0 0 10px;
    /*display: flex;*/
    flex: 1

    /*border: 2px dashed black;*/
}

/*#download {*/
/*    flex: 1;*/
/*    background: blue;*/
/*}*/

/*#upload {*/
/*    background: #885887;*/
/*    flex: 1;*/
/*}*/

/*#settings {*/
/*    flex: 1;*/
/*    background: orangered;*/
/*}*/


footer {
    height: 50px;
    box-shadow: 0 -1px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul {
    margin: 0 10px;
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: 'Londrina Solid', cursive;
    /*color: #885887;*/
    color: #934561;

    font-size: 25px;
}

li {
    margin: 0 20px
}


#vanilla-js {
    width: 80px;
    height: 15px;
}



/*html, body {*/
/*    height: 100%;*/
/*    margin: 0;*/
/*}*/

/*!*make body flex*!*/

/*main {*/
/*    height: 100%;*/
/*    background: cadetblue;*/
/*}*/

/*header {*/
/*    font-family: 'Londrina Sketch', cursive;*/
/*    font-size: 40px;*/
/*    color: black;*/
/*    font-weight: bold;*/
/*    position: relative;*/
/*    height: 22%;*/
/*    !*border-bottom: 0.5em solid black;*!*/
/*    box-shadow: 0 0.2em 0.5em black;*/
/*}*/

/*footer {*/
/*    height: 10%;*/
/*}*/

/*img {*/
/*    height: 100%;*/
/*    display: inline-block;*/
/*    padding: 1%;*/
/*    box-sizing: border-box;*/
/*}*/

/*.title {*/
/*    display: inline-block;*/
/*    height: 100%;*/
/*    vertical-align: top;*/
/*}*/

/*h1, h2 {*/
/*}*/

/*h1 {*/
/*    margin: 20px 0 0 0;*/
/*    vertical-align: top;*/
/*    !*color: #226C70;*!*/
/*    !*color: #6E8691;*!*/
/*    !*color: #73458c;*!*/
/*}*/

/*h2 {*/
/*    margin: -20px 0 0 200px;*/
/*    font-family: 'Londrina Solid', cursive;*/
/*    font-weight: 300;*/
/*    !*font-family: 'Roboto', sans-serif;*!*/
/*    font-size: 30px;*/
/*}*/

/*.test {*/
/*    padding: 5%;*/
/*    width: 30%;*/
/*    height: 30%;*/
/*    !*background: #DEB662;*!*/
/*}*/
